{% extends "base.html" %}

{% block content %}
  <h1 class="title">Funcionários
    <a href="{% url 'core:index' %}">
      <small>Voltar</small>
    </a>
    <a class="button is-primary" href="{% url 'crm:employee_create' %}">Adicionar</a>
  </h1>
  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
        <tr>
          <td>{{ object }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}